<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello Facebook</title>
</head>
<body>
<h4>Hello</h4>
<!-- chestii aici de design meniu and stuff idk -->
<div>
    <a>Welcome</a>
    <b th:text="${username}"></b>
    <b th:text="${profileImage}"></b>
    <img src="${pic}"/>
    <hr/>
</div>
<div>
    <!-- urmeaza chestionarul
    <a>generalData.food?</a>

    <form th:action="@{/foo}" th:object="${someBean}" method="post">
        <input type="text" id="datePlanted" name="datePlanted" />
        <button type="submit">Add</button>
    </form>
    -->
    <h3> <a href="/food/foo">here to eat</a></h3>
</div>
</body>
</html>